HOST=localhost
PORT=8000
DB_HOST=database
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=password

SECRET_KEY=your-super-secret-key
ALGORITHM=HS256

API_KEY_ABSTRACT_API=KEY-ABSTRACT-API
X_MASTER_KEY=your-jsonbin-master-key
X_ACCESS_KEY=your-jsonbin-access-key
TG_BOT_TOKEN=your-tgbot-token
TG_CHAT_ID=your-tg-id

AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_BUCKET=title-bucket
AWS_ENDPOINT_URL=https://storage.yandexcloud.net